<mat-form-field>
  <input matInput class="form-field"
         (keyup)="onChangeId($event)"
         placeholder="ID"
         [value]="search.id || ''">
</mat-form-field>

<mat-form-field>
  <input matInput class="form-field"
         (keyup)="onChangeProductName($event)"
         placeholder="product name"
         [value]="search.productName || ''">
</mat-form-field>

<mat-form-field>
  <input matInput class="form-field"
         (keyup)="onChangeProductNumber($event)"
         placeholder="product number"
         [value]="search.productNumber || ''">
</mat-form-field>

<mat-form-field>
  <input matInput class="form-field"
         (keyup)="onMinTotalPrice($event)"
         placeholder="minTotalPrice"
         [value]="search.minTotalPrice || ''">
</mat-form-field>
