.row {
  display: flex;
  align-items: center;
}

.col {
  flex: 1;
}

.sub-column-product-name {
  flex: 6;
}

table {
  width: 100%;
}

.mat-column-id {
  width: 30px;
  max-width: 30px;
}

.mat-column-customer {
  width: 100px;
  max-width: 100px;
}

.mat-column-items {
  width: 30000px;
  max-width: 30000px;
}

.mat-column-checkedOut {
  width: 100px;
  max-width: 100px;
}

.mat-column-totalPrice {
  width: 100px;
  max-width: 100px;
}
